@model PFAssistant.MongoContext.DailySpells

@{
    ViewBag.Title = "Dailys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h2>Daily Memorizations</h2>

    <div class="spell-list-wrapper">

        <div>
            <ul class="spell-list">
                <li class="spell-list-header">8th Level</li>
                @foreach (var item in Model.DailySpellsLevel8)
                {
                    <li>
                        <input type="checkbox" class="strikethrough">
                        <label for="cb">@item</label>
                    </li>
                }
                <li class="edit-spell-list">
                    <a href="#" class="button">Edit Spell List</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="spell-list">
                <li class="spell-list-header">7th Level</li>
                @foreach (var item in Model.DailySpellsLevel7)
                {
                    <li>
                        <input type="checkbox" class="strikethrough">
                        <label for="cb">@item</label>
                    </li>
                }
                <li class="edit-spell-list">
                    <a href="#" class="button">Edit Spell List</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="spell-list">
                <li class="spell-list-header">6th Level</li>
                @foreach (var item in Model.DailySpellsLevel6)
                {
                    <li>
                        <input type="checkbox" class="strikethrough">
                        <label for="cb">@item</label>
                    </li>
                }
                <li class="edit-spell-list">
                    <a href="#" class="button">Edit Spell List</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="spell-list">
                <li class="spell-list-header">5th Level</li>
                @foreach (var item in Model.DailySpellsLevel5)
                {
                    <li>
                        <input type="checkbox" class="strikethrough">
                        <label for="cb">@item</label>
                    </li>
                }
                <li class="edit-spell-list">
                    <a href="#" class="button">Edit Spell List</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="spell-list">
                <li class="spell-list-header">4th Level</li>
                @foreach (var item in Model.DailySpellsLevel4)
                {
                    <li>
                        <input type="checkbox" class="strikethrough">
                        <label for="cb">@item</label>
                    </li>
                }
                <li class="edit-spell-list">
                    <a href="#" class="button">Edit Spell List</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="spell-list">
                <li class="spell-list-header">3rd Level</li>

                @foreach (var item in Model.DailySpellsLevel3)
                {
                    <li>
                        <input type="checkbox" class="strikethrough">
                        <label for="cb">@item</label>
                    </li>
                }

                <li class="edit-spell-list">
                    <a href="#" class="button">Edit Spell List</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="spell-list">
                <li class="spell-list-header">2nd Level</li>

                @foreach (var item in Model.DailySpellsLevel2)
                {
                    <li>
                        <input type="checkbox" class="strikethrough">
                        <label for="cb">@item</label>
                    </li>
                }

                <li class="edit-spell-list">
                    <a href="#" class="button">Edit Spell List</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="spell-list">
                <li class="spell-list-header">1st Level</li>

                @foreach (var item in Model.DailySpellsLevel1)
                {
                    <li>
                        <input type="checkbox" class="strikethrough">
                        <label for="cb">@item</label>
                    </li>
                }

                <li class="edit-spell-list">
                    <a href="#" class="button">Edit Spell List</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="spell-list">
                <li class="spell-list-header">0th Level</li>

                @foreach (var item in Model.DailySpellsLevel0)
                {
                    <li>
                        <input type="checkbox" class="strikethrough">
                        <label for="cb">@item</label>
                    </li>
                }

                <li class="edit-spell-list">
                    <a href="#" class="button">Edit Spell List</a>
                </li>
            </ul>
        </div>

    </div>
</body>

<script type="text/javascript">
        function strikeText(){
            var ele = document.getElementById("spell");
            var check = document.getElementById("cb");

            if(check.checked)
                ele.style.setProperty("text-decoration", "line-through");               
            else
                ele.style.setProperty("text-decoration", "none");
        }
</script>
