@model PFAssistant.Models.SpellDetails

@{
    ViewBag.Title = "Details";
}

<h2><em>@Model.Name</em></h2>

<div id="content">
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        @if (!string.IsNullOrEmpty(Model.SubSchool))
        {
            <dt>
                @Html.DisplayNameFor(model => model.SubSchool)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubSchool)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.Descriptor))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Descriptor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descriptor)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.SpellLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellLevel)
        </dd>
    </dl>
</div>

<br />
<div class="hline-top-bottom">
    <h4>Casting</h4>
</div>
<div id="content">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CastingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Components)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Components)
        </dd>
    </dl>
</div>

<br />
<div class="hline-top-bottom">
    <h4>Effect</h4>
</div>
<div id="content">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>

        @if (!string.IsNullOrEmpty(Model.Area))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.Effect))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Effect)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Effect)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SavingThrow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavingThrow)
        </dd>
    </dl>
</div>

<br />
<div class="hline-top-bottom">
    <h4>Description</h4>
</div>
<div id="content">
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div id="content">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>
    </dl>
</div>


